html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.Layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    height: 100%;
}

.Layout > header {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.Layout > footer {
    grid-row: 4;
    grid-column: 1 / span 2;
}

.Layout > #following {
    grid-row: 2;
    grid-column: 1;
}

.Layout > #followers {
    grid-row: 3;
    grid-column: 1;
}

.Layout > main {
    grid-column: 2;
    grid-row: 2 / span 2;
    overflow: scroll;
}