.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Header .active {
    color: green;
}